chat_app/lib/screens/auth.dart
chat_app/lib/firebase_options.dart
favorite_places/lib/screens/add_place.dart
favorite_places/lib/widgets/location_input.dart
shopping_list/lib/widget/groceries_list.dart
shopping_list/lib/widget/new_iteam.dart
